header {
  background-color: #3f51b5;
  padding: 1rem;
  color: #fff;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

header h1 {
  text-transform: uppercase;
  float: left;
}

header div {
  float: right;
}

header h1,
header p {
  line-height: 40px;
}

header p {
  float: left;
}

header > div > button {
  margin-left: 16px;
}
