<app-header></app-header>
<mat-card class="login-card">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>
    <mat-form-field>
      <input matInput type="email" placeholder="E-mail cím" name="username" formControlName="username" />
      <mat-error *ngIf="loginForm.get('username').invalid && loginForm.get('username').touched">
        <mat-error *ngIf="loginForm.hasError('required', 'username')">A mező kitöltése kötelező</mat-error>
        <mat-error *ngIf="loginForm.hasError('email', 'username') && !loginForm.hasError('required', 'username')">Érvénytelen e-mail cím</mat-error>
        <mat-error *ngIf="loginForm.hasError('notFound', 'username')">Nem regisztrált e-mail cím</mat-error>
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput autocomplete="off" [type]="showPassword ? 'text' : 'password'" placeholder="Jelszó" formControlName="password" />
      <mat-icon matSuffix (click)="showPassword = !showPassword">{{ showPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
      <mat-error *ngIf="loginForm.get('password').invalid && loginForm.get('password').touched">
        <mat-error *ngIf="loginForm.hasError('required', 'password')">A mező kitöltése kötelező</mat-error>
        <mat-error *ngIf="loginForm.hasError('notMatch', 'password')">Hibás jelszó</mat-error>
      </mat-error>
    </mat-form-field>
    <button type="submit" mat-raised-button [disabled]="loginForm.invalid && loginForm.touched" color="primary" >Belépés</button>
  </form>
</mat-card>
